.bg-custom {
    background-color: #1a4d84!important;
}
@keyframes load {
    from {
        opacity: 0;
        transform: rotate(-3deg);
    }
    to {
        opacity: 1;
        transform: rotate(0deg);
    }
}
html body .jumbotron {
    background: url('../images/code_background.png');
    background-blend-mode: exclusion;
}
h1 {
    color: white;
}
#info {
    color: white;
}
.jumbotron .text-muted {
    color: #ffffff!important;
}