#photo {
    float: left;
    width: 120px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #001c3b;
    animation: load 1s 1;
}
#info {
        font-size: 20px;
}

html body .jumbotron {
    background-color: #6db6ff;
}

